__pycache__/*
pypgcf/__pycache__/*
pypgcf/__pycache__
tests/__pycache__/
tests/__pycache__/*
example/*
archives/*
data/
data/*
tmp/*
builds
builds/*
./test_data
.DS_Store

TODO.md
# pixi environments
.pixi/*
!.pixi/config.toml
